* { 
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0; /* Remove the tiny space around the edge of the page */
}

img, video, canvas, audio, iframe, embed, object  { 
  display: block; /* Switch display mode to block, since that's what we usually want for images. */
}

.home {
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}
